@media screen and (max-width:1000px){
    
    .jobs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  
    
    .jobs .job-card img{
        border-radius: 5px;
    }
}

@media screen and (max-width:780px){
    
    .logo a{
        font-size: 20px;
    }

    .jobs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }  
    
    .jobs .job-card img{
        max-width: 100%;
        border-radius: 5px;
    }

    .menu{
        display: none;
    }
}

@media screen and (min-width:780px){
    
    .hamburguer{
        display: none;
    }
}

@media screen and (max-width:550px){
    
    .home{
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo a{
        font-size: 20px;
    }

}

@media screen and (max-width:390px){
    
    .home{
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contato ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .contato ul h3{
        text-align: center;
        font-size: 20px;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    .contato ul li{
        margin-left: 5px;
        margin-right: 5px;
    }

    .contato ul li h4{
        display: none;
    }
}

@media screen and (max-width:220px){
    
    .logo a{
        display: none;
    }

    .hamburguer{
        margin: 0 auto;
    }

    .contato ul h3{
        display: none;
    }
}
