:root{

    --azul: #64FFFA;
    --cinza: #707070;
    --cinza-hover: #868686;
    --cinza-opened-card: #dfdfdf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
}

.home{
    width: 100%;
    height: 50px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul);
    -webkit-transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
}

@keyframes opacity{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.logo a{
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    font-size: 20px;
}

.logo a:hover{
    color: var(--cinza-hover);
}

.menu{
    display: flex;
    flex-direction: row;
}

.sobre{
    color: var(--cinza);
    margin-left: 20px;
    font-weight: 300;
    font-size: 20px;
}

.sobre:hover{
    font-weight: 400;
    cursor: pointer;
}

.grafico{
    color: var(--cinza);
    margin-left: 20px;
    font-weight: 300;
    font-size: 20px;
}

.grafico:hover{
    font-weight: 400;
    cursor: pointer;
}

.diagramacao{
    color: var(--cinza);
    margin-left: 20px;
    font-weight: 300;
    font-size: 20px;
}

.menu .diagramacao:hover{
    font-weight: 400;
    cursor: pointer;
}

.front-end{
    color: var(--cinza);
    margin-left: 20px;
    font-weight: 300;
    font-size: 20px;
}

.menu .front-end:hover{
    font-weight: 400;
    cursor: pointer;
}

.hamburguer{
    margin-right: 10px;
}

.hamburguer:hover{
    cursor: pointer;
}

.hamburguer:active .menu{
    display: flex;
} 

.jobs{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    display: flex;    
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
}
.jobs .job-card{
    margin: 10px;
    display: flex;
}

.jobs .job-card img{
    max-width: 300px;
    border-radius: 5px;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

.jobs .job-opened-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.jobs .job-opened-card img{
    max-width: 100%;
    border-radius: 5px;
}

.jobs .job-card:hover img{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.contato{
    height: 200px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--azul);
}

.contato ul{
    list-style-type:none;

}

.contato ul li{
    display: flex;
}

.contato-titulo{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.contato .contato-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cinza);
    font-size: 16px;
}

.contato .contato-item a:hover{
    color: var(--cinza-hover);
}

.contato ul li h4{
    margin: 5px;
    font-weight: 300;
}

.contato ul li h4:hover{
    font-weight: 400;
    cursor: pointer;
}

.card-info{

    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-left: 5px solid var(--cinza);

}

.info-title{

    color: var(--cinza);

}

.info-description{

    color: var(--cinza);

}

.email{
    width: 20px;
    fill: var(--cinza);
}

.linkedin{
    width: 20px;
    fill: var(--cinza);
}

.whatsapp{
    width: 20px;
}

.github{
    width: 20px;
}

.sobre-page{
    display: none;
}

.perfil{
    width: 200px;
    animation-duration: 1s;
    animation-name: perfil_slidein;
}

.resumo {
    margin-left: 20px;
    animation-duration: 1s;
    animation-name: resumo_slidein;
}

@keyframes perfil_slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
@keyframes resumo_slidein {
    from {
      margin-left: 40%;
      opacity: 0;
    }
  
    to {
      margin-left: 20px;
      opacity: 1;
    }
}