:root{

    --azul: #64FFFA;
    --cinza: #707070;
    --cinza-hover: #868686;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza);
}

.home{
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul);
}

.logo a{
    text-decoration: none;
    color: var(--cinza);
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
}

.logo a:hover{
    color: var(--cinza-hover);
}

.menu{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.menu .item a{
    text-decoration: none;
    color: var(--cinza);
    font-weight: 300;
    font-size: 20px;
}

.menu .item a:hover{
    font-weight: 400;
}

.grafico{
    margin-right: 10px;
}

.front-end{
    margin-left: 10px;
}

.hamburguer{
    margin-right: 10px;
}

.jobs{
    margin-top: 50px;
    width: 100%;
    display: flex;    
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
}
.jobs .job-card{
    margin: 10px;
}

.jobs .job-card img{
    max-width: 300px;
    border-radius: 4px;
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
}

.contato{
    height: 150px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--azul);
}

.contato ul{
    list-style-type:none;

}

.contato ul li{
    margin-bottom: 5px;
}

.contato-titulo{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.contato .contato-item a{
    text-decoration: none;
    color: var(--cinza);
    font-size: 16px;
}

.contato .contato-item a:hover{
    color: var(--cinza-hover);
}




